src/main/resources/xsd/application.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applications">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="application" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:int" name="freq"/>
              <xs:element type="xs:string" name="cloud"/>
              <xs:element type="xs:string" name="instance"/>
              <xs:element type="xs:string" name="provider"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="tasksize" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>