src/main/resources/xsd/device.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="device" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:int" name="freq"/>
              <xs:element type="xs:byte" name="sensor"/>
              <xs:element type="xs:short" name="maxinbw"/>
              <xs:element type="xs:short" name="maxoutbw"/>
              <xs:element type="xs:short" name="diskbw"/>
              <xs:element type="xs:int" name="reposize"/>
              <xs:element type="xs:byte" name="ratio"/>
              <xs:element type="xs:string" name="strategy"/>
              <xs:element name="shutdown">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="number"/>
                    <xs:element type="xs:byte" name="from"/>
                    <xs:element type="xs:byte" name="to"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="starttime" use="optional"/>
            <xs:attribute type="xs:int" name="stoptime" use="optional"/>
            <xs:attribute type="xs:short" name="number" use="optional"/>
            <xs:attribute type="xs:byte" name="filesize" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>