src/main/resources/xsd/flavor.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="instances">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="instance" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="ram"/>
              <xs:element type="xs:byte" name="cpu-cores"/>
              <xs:element type="xs:float" name="price-per-tick"/>
              <xs:element type="xs:float" name="core-processing-power"/>
              <xs:element type="xs:byte" name="startup-process"/>
              <xs:element type="xs:byte" name="network-load"/>
              <xs:element type="xs:int" name="req-disk"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>